<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-controller="TodoController">

    <div>
        <span ng-show="todo.completed">Checked</span>
        <input type="checkbox" ng-model="todo.completed">
        <label>Label</label>
        <input ng-model="todo.name" type="text">
    </div>

    <span>
        {{ todo.name }}
    </span>

    <div>
        <button ng-click="test()">Edit</button>
        <button>Save</button>
        <button>Delete</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>

    <script src="scripts/app.js"></script>
    <script src="controllers/TodoController.js"></script>
</body>
</html>