<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>TodoApp</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-controller="TodoController" ng-cloak>

    <div ng-repeat="todo in todos">
        <input type="checkbox">
        <label ng-hide="editing">{{ todo.name }}</label>
        <input ng-show="editing" ng-model="todo.name" type="text">
    </div>

    <div>
        <button ng-click="edit()">Edit</button>
        <button ng-click="click('Save')">Save</button>
        <button ng-click="click('Delete')">Delete</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>

    <script src="scripts/app.js"></script>
    <script src="controllers/TodoController.js"></script>
</body>
</html>